
@{
    Layout = null;
}


@model List<ITPM_Code_Complexity_Tool.Models.Couplings_model>


<!DOCTYPE html>

<html>
<head>
    <title> Coupling </title>
    <link href="/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background: url('../StartPage/images/slide1-01.png')">
    <div class="container">
        <h1 style="color:ghostwhite"> Coupling </h1>



        <style>


            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: white;
                /*#dddddd*/
            }
        </style>


        <table>
            <tr style="background-color: red;color: white">

                <td><strong>Line no</strong> </td>
                <td><strong>Program statements</strong> </td>
                <td><strong>Nr</strong> </td>
                <td><strong>Nmcms</strong> </td>
                <td><strong>Nmcmd</strong> </td>
                <td><strong>Nmcrms</strong> </td>
                <td><strong>Nmcrmd</strong> </td>
                <td><strong>Nrmcrms</strong> </td>
                <td><strong>Nrmcrmd</strong> </td>
                <td><strong>Nrmcms</strong> </td>
                <td><strong>Nrmcmd</strong> </td>
                <td><strong>Nmrgvs</strong> </td>
                <td><strong>Nmrgvd</strong> </td>
                <td><strong>Nrmrgvs</strong> </td>
                <td><strong>Nrmrgvd</strong> </td>
                <td><strong>Ccp</strong> </td>
            </tr>

            @{

                foreach (var item in Model)
                {

                    int Nr = item.getRecursive();

                    int Nmcms = item.getRegular_regular();

                    int Nmcrms = item.getRegular_recursive();

                    int Nrmcrms = item.getRecursive_recursive();

                    // int Nrmcms = item.getRecursive_regular() * int.Parse(session.getAttribute("recursiveRegular").toString());

                    // int total = Nr + Nmcms + Nmcrms + Nrmcrms + Nrmcms + (coupling.getRegular_global() * Integer.parseInt(session.getAttribute("regularGlobal").toString())) + (coupling.getRegular_regular() * Integer.parseInt(session.getAttribute("recursiveGlobal").toString()));

                    int total = @item.getRecursive() + @item.getRegular_regular() + @item.getRegular_recursive() + @item.getRecursive_recursive() + @item.getRecursive_regular() + @item.getRegular_global() + @item.getRegular_regular();




                    <tr style="padding:23px;color:black;background-color:white;">
                        <td> @item.getLineNumber() </td>
                        <td> @item.getLine() </td>
                        <td> @item.getRecursive() </td>
                        <td> @item.getRegular_regular() </td>
                        <td> 0 </td>
                        <td> @item.getRegular_recursive() </td>
                        <td> 0 </td>
                        <td> @item.getRecursive_recursive() </td>
                        <td> 0 </td>
                        <td> @item.getRecursive_regular() </td>
                        <td> 0 </td>
                        <td> @item.getRegular_global() </td>
                        <td>0</td>
                        <td> @item.getRegular_regular()  </td>
                        <td> 0 </td>
                        <td> @total</td>
                    </tr>
                }
            }
        </table>
</body>

</html>
