@model IEnumerable<ITPM_Code_Complexity_Tool.Models.AllFactors>

@{

    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }
}

<!DOCTYPE html>
<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />
<body>

    <h1 style="color:white;">Displaying the complexity of a single file due to all the factors</h1>

    @*set weight again*@
    @*<button type="button" onclick='window.location.href = "../ComplexitySizeVariablesMethods/SetWeightSize?fileName=@fromURL"' class="btn btn-success">
            Set Weight Again
        </button>*@

    @*go to toool menu*@
    <button type="button" onclick='window.location.href = "../Upload/Tool_Home?fileName=@fromURL"' class="btn btn-primary">
        Go Back To Tool Menu
    </button>


    <br />
    <br />

    <table style="color: black;">
        <tr id="ROW1">
            <td>Line No</td>
            <td>Code Line</td>
            <td>Cs</td>
            <td>Cv</td>
            <td>Cm</td>
            <td>Ci</td>
            <td>Ccp</td>
            <td>Ccs</td>
            <td>TCps</td>
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr style="padding:23px;">
                    <td> @item.lineNoAllF </td>
                    <td> @item.CODELINEallF </td>

                    @if (@item.CSAllF != 0 || @item.CVAllF != 0 || @item.CMAllF != 0 || @item.CiAllF != 0 || @item.CcsAllF != 0)
                    {
                        <td> @item.CSAllF </td>
                    }
                    else
                    {
                        <td>  </td>
                    }

                    @if (@item.CSAllF != 0 || @item.CVAllF != 0 || @item.CMAllF != 0 || @item.CiAllF != 0 || @item.CcsAllF != 0)
                    {
                        <td> @item.CVAllF </td>
                    }
                    else
                    {
                        <td>  </td>
                    }

                    @if (@item.CSAllF != 0 || @item.CVAllF != 0 || @item.CMAllF != 0 || @item.CiAllF != 0 || @item.CcsAllF != 0)
                    {
                        <td> @item.CMAllF </td>
                    }
                    else
                    {
                        <td>  </td>
                    }
                    @if (@item.CSAllF != 0 || @item.CVAllF != 0 || @item.CMAllF != 0 || @item.CiAllF != 0 || @item.CcsAllF != 0)
                    {
                        <td> @item.CiAllF </td>
                    }
                    else
                    {
                        <td>  </td>
                    }
                    @if (@item.CSAllF != 0 || @item.CVAllF != 0 || @item.CMAllF != 0 || @item.CiAllF != 0 || @item.CcsAllF != 0)
                    {
                        <td> @item.CcpAllF </td>
                    }
                    else
                    {
                        <td>  </td>
                    }

                    @if (@item.CSAllF != 0 || @item.CVAllF != 0 || @item.CMAllF != 0 || @item.CiAllF != 0 || @item.CcsAllF != 0)
                    {
                        <td> @item.CcsAllF </td>
                    }
                    else
                    {
                        <td>  </td>
                    }




                    <td> @item.TCpsAllF </td>


                </tr>
            }
        }
    <tr id="ROW1">


        <td style="color:white;font-weight:bold;background-color:black;"> Total </td>
        <td style="color:white;font-weight:bold;background-color:black;"></td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalCsColumn</td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalCvColumn</td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalCmColumn</td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalCiColumn</td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalCcpColumn</td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalCtsColumn</td>
        <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.totalTCpsAllFColumn</td>


    </tr>
    </table>
</body>

