@model IEnumerable<ITPM_Code_Complexity_Tool.Models.CdueToVariables>

@{
    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }
}

<!DOCTYPE html>

<head>
    <title>Variable Factor</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />
</head>
<body>


    <h1 style="color:white;">Displaying the complexity of a program due to Variables </h1>

    @*set weight again*@
    <button type="button" onclick='window.location.href = "../ComplexitySizeVariablesMethods/SetWeightVariables?fileName=@fromURL"' class="btn btn-success">
        Set Weight Again
    </button>

    @*go to toool menu*@
    <button type="button" onclick='window.location.href = "../Upload/Tool_Home?fileName=@fromURL"' class="btn btn-primary">
        Go Back To Tool Menu
    </button>
    <br />
    <br />

    <table style="color: black;">
        <tr id="ROW1">
            <td>Line No</td>
            <td>Code Line</td>
            <td>Wvs </td>
            <td>Npdtv </td>
            <td>Ncdtv </td>
            <td>Cv </td>
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr style="padding:23px;">
                    <td> @item.lineNo </td>
                    <td> @item.CODELINE </td>

                    @if (item.WeightDueToVScope != 0 && item.NoPrimitiveDataTypeVariables > 0 || item.NoCompositeDataTypeVariables > 0)
                    {
                        <td> @item.WeightDueToVScope </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (item.NoPrimitiveDataTypeVariables != 0)
                    {
                        <td> @item.NoPrimitiveDataTypeVariables </td>
                    }
                    else if (item.WeightDueToVScope != 0 && item.NoCompositeDataTypeVariables != 0)
                    {
                        <td> 0 </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (item.NoCompositeDataTypeVariables != 0)
                    {
                        <td> @item.NoCompositeDataTypeVariables </td>
                    }
                    else if (item.WeightDueToVScope != 0 && item.NoPrimitiveDataTypeVariables != 0)
                    {
                        <td> 0 </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td> @item.Cv </td>

                </tr>


            }


        }

        <tr id="ROW1">
            <td style="color:white;font-weight:bold;background-color:black;"> Total </td>
            <td style="color:white;font-weight:bold;background-color:black;"></td>
            <td style="color:white;font-weight:bold;background-color:red;">@ViewBag.totalWeightDueToVScope</td>
            <td style="color:white;font-weight:bold;background-color:red;">@ViewBag.totalNoPrimitiveDataTypeVariables</td>
            <td style="color:white;font-weight:bold;background-color:red;">@ViewBag.totalNoCompositeDataTypeVariables</td>
            <td style="color:white;font-weight:bold;background-color:red;"> @ViewBag.TotalCv </td>

        </tr>
    </table>
</body>
