@model ITPM_Code_Complexity_Tool.Models.sizeVariableMethodsWeightTracker

@{
    ViewBag.Title = "SetWeight";

    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }
}

<h2>SetWeight</h2>

<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />
<h1 style="color: white; font-weight: bold">Weights related to the size factor</h1>

@using (Html.BeginForm("SetWeight", "ComplexitySizeVariablesMethods", new { fileName = fromURL }, FormMethod.Post))
{

    <table style="color: black" class="table table-bordered table-dark">
        <thead>
            <tr id="ROW1">

                <th scope="col">Program Component</th>
                <th scope="col-1">Weight</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Keyword</td>
                <td>
                    @Html.TextBoxFor(m => m.sizeKeyword, new { @Value = "1" })
                </td>
            </tr>
            <tr>
                <td>Identifier</td>
                <td>
                    @Html.TextBoxFor(m => m.sizeIdentifers, new { @Value = "1" })
                </td>

            </tr>

            <tr>
                <td>Operator</td>
                <td>
                    @Html.TextBoxFor(m => m.sizeOperators, new { @Value = "1" })
                </td>

            </tr>

            <tr>
                <td>Numerical value</td>
                <td>
                    @Html.TextBoxFor(m => m.sizeNumericValues, new { @Value = "1" })
                </td>

            </tr>
            <tr>
                <td>String literal</td>
                <td>
                    @Html.TextBoxFor(m => m.sizeStringLiteral, new { @Value = "1" })
                </td>

            </tr>

        </tbody>


    </table>


    <button type="submit" class="btn btn-danger">Save And Calculate</button>


}
