@model ITPM_Code_Complexity_Tool.Models.sizeVariableMethodsWeightTracker

@{
    ViewBag.Title = "SetWeight";

    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }
}

<h2>SetWeight</h2>

<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />
<h1 style="color: white; font-weight: bold">Weights related to the Method factor</h1>

@using (Html.BeginForm("SetWeightMethods", "ComplexitySizeVariablesMethods", new { fileName = fromURL }, FormMethod.Post))
{


    // ==========================================================================================

    <table style="color: white" class="table table-bordered table-dark">
        <thead>
            <tr id="ROW1">

                <th scope="col">Program Component</th>
                <th scope="col-1">Weight</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Method with a primitive return type</td>
                <td>
                    @Html.TextBoxFor(m => m.methodPrimitiveReturnType, new { @Value = "1", size = "2", style = "text-align:center", })
                </td>
            </tr>
            <tr>
                <td>Method with a composite return type </td>
                <td>
                    @Html.TextBoxFor(m => m.methodCompositeReturnType, new { @Value = "2", size = "2", style = "text-align:center" })
                </td>

            </tr>

            <tr>
                <td>Method with a void return type </td>
                <td>
                    @Html.TextBoxFor(m => m.methodVoidReturnType, new { @Value = "0", size = "2", style = "text-align:center" })
                </td>

            </tr>

            <tr>
                <td>Primitive data type parameter</td>
                <td>
                    @Html.TextBoxFor(m => m.methodPrimitiveDataTypeParameter, new { @Value = "1", size = "2", style = "text-align:center" })
                </td>

            </tr>
            <tr>
                <td>Composite data type parameter</td>
                <td>
                    @Html.TextBoxFor(m => m.methodCompositeDataTypeParameter, new { @Value = "2", size = "2", style = "text-align:center" })
                </td>

            </tr>

        </tbody>


    </table>

    <button type="submit" class="btn btn-danger">Save And Calculate</button>


}
